{% extends 'base.html.twig' %}

{% form_theme formManga 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h1>Ajout d'un manga</h1>

{{ form_start(formManga) }}

{{ form_widget(formManga) }}

{{ form_end(formManga) }}

{% endblock %}