{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ (title) }}</h1><br>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita debitis id velit nobis delectus laudantium ex
    enim, repellendus vero animi, ratione laboriosam repudiandae? A, deleniti quibusdam tempora in dolorum qui
    molestias repellat, sint ab numquam nihil mollitia neque possimus saepe! Accusamus, impedit, esse porro distinctio
    eius illo doloribus alias consectetur quis nam autem accusantium natus veritatis unde quisquam pariatur laboriosam
    rem neque provident aut. Modi architecto nostrum id ratione. Veritatis quibusdam laborum fugit ipsa animi ipsam
    voluptatum voluptatibus, molestias dolorum blanditiis, similique voluptatem. Molestias et mollitia consectetur
    ipsam repellat facere!</p>
<p>Excepturi, reprehenderit voluptate. Praesentium, doloremque vero! Possimus saepe, cum quae debitis consequatur culpa
    temporibus eligendi magni rem amet ad molestiae nobis voluptate, cumque nisi iure eos quaerat hic error quod!
    Commodi alias ipsum saepe, perspiciatis sequi necessitatibus. Ut dolor eligendi maiores error quis ex aliquid. Esse
    sunt fugit beatae porro similique deleniti aut non quaerat quibusdam rerum! Sed animi itaque aspernatur ut eos
    velit! Temporibus suscipit soluta quam minima, minus id eaque deserunt sed, asperiores animi voluptatem illo vero
    fugiat sunt dolores, cumque hic. Iusto fugiat rem exercitationem sit placeat.</p>

    {% endblock %}