{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="manga">

    <manga>
        <h2>titre du manga</h2>
        <div class="metadata">Ajouter le 30/01/2019</div>
        <div class="content">
            <img src="https://place-hold.it/300x500" alt=""><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Animi molestias ex impedit corporis. Delectus, culpa.</p>
            <p>Quas dicta quisquam laborum aut reiciendis harum,
                minima officia maxime eaque voluptas, omnis id maiores!</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Description</a><br>
        </div>
    </manga>
    <manga>
        <h2>titre du manga</h2>
        <div class="metadata">Ajouter le 30/01/2019</div>
        <div class="content">
            <img src="https://place-hold.it/300x500" alt=""><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Animi molestias ex impedit corporis. Delectus, culpa.</p>
            <p>Quas dicta quisquam laborum aut reiciendis harum,
                minima officia maxime eaque voluptas, omnis id maiores!</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Description</a><br>
        </div>
    </manga>
    <manga>
        <h2>titre du manga</h2>
        <div class="metadata">Ajouter le 30/01/2019</div>
        <div class="content">
            <img src="https://place-hold.it/300x500" alt=""><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Animi molestias ex impedit corporis. Delectus, culpa.</p>
            <p>Quas dicta quisquam laborum aut reiciendis harum,
                minima officia maxime eaque voluptas, omnis id maiores!</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Description</a><br>
        </div>
    </manga>

</section>
{% endblock %}