{% extends 'base.html.twig' %}

{% block body %}
<manga>
    <h2>{{ manga.title }} </h2>
    <div class="metadata">Ajouter le 30/01/2019</div>
    <div class="content">
        <img src="https://place-hold.it/300x500" alt=""><br>
        {{ manga.author | raw }}
        {{ manga.editionF | raw }}
        {{ manga.editionJ | raw }}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Animi molestias ex impedit corporis. Delectus, culpa.</p>
        <p>Quas dicta quisquam laborum aut reiciendis harum,
            minima officia maxime eaque voluptas, omnis id maiores!</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iste ipsum suscipit nemo,
            necessitatibus, quisquam ex, odio at sunt quis vitae libero pariatur fugit quasi porro minima. Veritatis
            atque, voluptate quam blanditiis quod fugit velit quisquam suscipit. Corporis nemo numquam nihil et in
            quasi? Officiis, excepturi ratione! Eligendi, tempora reprehenderit?</p>
        <p>Alias eaque neque fugit, architecto voluptatibus ipsam explicabo voluptatum commodi pariatur fuga placeat
            quam quasi laboriosam, blanditiis deserunt nemo? Impedit similique optio deleniti! Atque enim sint ea odit?
            Assumenda, fuga unde perferendis officia quam magnam ipsum temporibus minus, itaque illo dicta obcaecati
            possimus excepturi nulla vero, rerum sit est et?</p>
    </div>
</manga>

{% endblock %}